<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Graph Theory">
    <meta name="description" content="Shubham Darda">
    <meta name="author" content="Shubham Darda">
    <link rel="stylesheet" href="{{ site.bootstrap_css }}">
    <script src="{{ site.jquery }}"></script>
    <script src="{{ site.bootstrap_js }}"></script>
    <link rel="stylesheet" href="{{ site.common_css }}">
    <script src="{{ site.common_js }}"></script>
    <link rel="icon" href="{{ site.gt }}">
    <meta property="og:image" content="{{ site.gt }}">
    <base href="{{ site.url }}graphtheory/">
    <style type="text/css">
    .nav-link.activetab, .sidebar > a:hover, .sidebar > a:focus
    { 
        border-left: 5px solid #ffc000;
    }
    </style>
</head>

<body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler p-0" type="button" data-bs-toggle="leftsidebar" data-bs-target="#leftsidebar" style="border: none; position: fixed;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand" style="color: #00b050; font-size: 16px;"><a href="/"><img src="{{ site.gt }}"></a><a style="font-size: 16px; color: #ffffff; padding-left: 5px;" href="">Graph Theory</a></div>

            <a style="font-size: 16px; color: #ffffff; padding: 0px 10px 5px 0px;" href="{{ site.url }}"><ul class="navbar-nav mr-auto">Home</ul></a>

            <div id="leftsidebar" class="sidebar leftsidebar-collapse col-md-2">
            {% assign pu=page.url | split: '/' %}
            {% for item in site.data.gt.chapters %}
                {% assign class=nil %}
                {% assign tu=item.url | split: '/' %}
                {% if pu[2]==tu[0] %}
                    {% assign class="activetab" %}
                    <a class="nav-link {{ class }}" href="{{ item.url }}">{{ item.title }}</a>
                {% else %}
                    <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </nav>

    <div data-bs-toggle="collapseall">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5" role="main">
            <div class="container">
                {{ content }}
            </div>
        </main>
        <footer style="margin-top: 50px;"></footer>
    </div>
</body>
</html>